<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHn8CEFh5jc-IDxNzul-xXG2NW4xILAc8</string>
	<key>GCM_SENDER_ID</key>
	<string>1003979122368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brunelliar.cluckstep</string>
	<key>PROJECT_ID</key>
	<string>cluckstep</string>
	<key>STORAGE_BUCKET</key>
	<string>cluckstep.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003979122368:ios:e3a327df630fb567072f25</string>
</dict>
</plist>